
@{
    ViewBag.Title = "Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mt-4 mb-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Categoria</li>
</ol>

<div class="card">
    <div class="card-header"><i class="fas fa-users"></i> Lista de categorías</div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-dark" onclick="openModal(null)">Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="tblDatosCategoria" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th>Activo</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<!-- Propiedad para que el modal no se cierre al hacer clic fuera de él: data-bs-backdrop="static" -->
<div class="modal fade" id="frmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="txtId" type="text" value="0" hidden />

                <div class="row g-2">
                    <div class="col-mb-12">
                        <label for="txtDescripcion" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="txtDescripcion" placeholder="Descripción" autocomplete="off">
                    </div>
                    <div class="col-sm-6 col-mb-6">
                        <label for="cboActivo" class="form-label">Estado</label>
                        <select id="cboActivo" class="form-select">
                            <option selected>Selecciona una opción</option>
                            <option value="1">Activa</option>
                            <option value="0">Inactiva</option>
                        </select>
                    </div>
                </div>
                <!-- Mensaje de alerta -->
                <div class="row mt-4">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="cmdCancelar" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="cmdGuardar" type="button" class="btn btn-dark" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #F2F2F2
    }
</style>

@section scripts{
    <script type="text/javascript">
        let dataTable;
        let selectedRow;
        let selectedCategory;

        dataTable = $("#tblDatosCategoria").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarCategorias", "Mantenimiento")',
                type: "GET",
                dataType: "json",
            },
            "columns": [
                { "data": "Descripcion" },
                {
                    "data": "Activa", "render": function (valor) {
                        if (valor) {
                            return '<input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>'
                        } else {
                            return '<input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>'
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-sm btn-dark btn-editar" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-sm btn-danger ms-2 btn-eliminar" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            }
        });

        function limpiarModal() {
            $("#txtId").val(0);
            $("#txtDescripcion").val("");
            $("#cboActivo").prop("selectedIndex", 0).val(); //Muestra el valor del primer elemento del select.
        }

        function openModal(json) {
            limpiarModal();

            $("#mensajeError").hide();

            if (json != null) {
                //Si la variable json tiene datos, los asigna a cada input.
                $("#txtId").val(json.idCategoria);
                $("#txtDescripcion").val(json.Descripcion);
                $("#cboActivo").val(json.Activa == true ? 1 : 0); //Boolean: Si el dato recibido es true le asigna el valor 1, de lo contrario le asigna 0.
            }

            $("#frmModal").modal("show");
        }

        $("#tblDatosCategoria tbody").on("click", '.btn-editar', function () {
            //Obtener la fila seleccionada
            selectedRow = $(this).closest("tr");
            //Obtener datos de la fila seleccionada
            let data = dataTable.row(selectedRow).data();
            //Abrir modal
            openModal(data);
        })

        $("#tblDatosCategoria tbody").on("click", '.btn-eliminar', function () {
            //Obtener la fila seleccionada
            selectedCategory = $(this).closest("tr");
            //Obtener datos de la fila seleccionada
            let data = dataTable.row(selectedCategory).data();
            swal({
                title: "Eliminar",
                text: "Seguro desea eliminar este registro?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-dark",
                cancelButtonClass: "btn-danger",
                confirmButtonText: "Aceptar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: true
            },
                function () {
                jQuery.ajax({
                    url: '@Url.Action("EliminarCategoria", "Mantenimiento")',
                    type: "POST",
                    data: JSON.stringify({ idCategoria: data.idCategoria }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.resultado) {
                            dataTable.row(selectedCategory).remove().draw();
                            swal("Registro eliminado correctamente", data.mensaje, "Confirmación")
                        } else {
                            swal("No se pudo eliminar el registro", data.mensaje, "Error")
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    }
                });
            });
        })

        function Guardar() {
            let categoria = {
                idCategoria: $("#txtId").val(),
                Descripcion: $("#txtDescripcion").val(),
                Activa: $("#cboActivo").val() == 1 ? true : false
            }

            jQuery.ajax({
                url: '@Url.Action("GuardarCategoria", "Mantenimiento")',
                type: "POST",
                data: JSON.stringify({ obj: categoria }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide");

                    if (categoria.idCategoria == 0) {
                        // Crear categoria
                        if (data.resultado != 0) {
                            categoria.idCategoria = data.resultado;
                            dataTable.row.add(categoria).draw(false);
                            $("#frmModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    } else {
                        // Editar Categoria
                        if (data.resultado) {
                            dataTable.row(selectedRow).data(categoria).draw(false);
                            selectedRow = null;
                            $("#frmModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error ajax");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    })
                }
            });


        }

    </script>
}

