
@{
    ViewBag.Title = "Marcas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mt-4 mb-4">
    <li class="breadcrumb-item"><a href="#">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Marcas</li>
</ol>

<div class="card">
    <div class="card-header"><h3><i class="fa fa-tags"></i> Lista de marcas</h3></div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-dark" onclick="openModal(null)">Nuevo</button>
            </div>
        </div>

        <hr />

        <table id="tblDatosMarca" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Activo</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<!-- Propiedad para que el modal no se cierre al hacer clic fuera de él: data-bs-backdrop="static" -->
<div class="modal fade" id="frmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Marca</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="txtId" type="text" value="0" hidden />

                <div class="row g-2">
                    <div class="col-mb-12">
                        <label for="txtDescripcion" class="form-label">Descripción</label>
                        <input type="text" class="form-control" id="txtDescripcion" placeholder="Descripción" autocomplete="off">
                    </div>
                    <div class="col-sm-6 col-mb-6">
                        <label for="cboActivo" class="form-label">Estado</label>
                        <select id="cboActivo" class="form-select">
                            <option selected>Seleccionar</option>
                            <option value="1">Activa</option>
                            <option value="0">Inactiva</option>
                        </select>
                    </div>
                </div>
                <!-- Mensaje de alerta -->
                <div class="row mt-4">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="cmdCancelar" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="cmdGuardar" type="button" class="btn btn-dark" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #F2F2F2
    }
</style>

@section scripts{
    <script type="text/javascript" src="~/Scripts/Mantenimiento/Marca.js"></script>

    <script type="text/javascript">

        dataTable = $("#tblDatosMarca").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarMarcas", "Mantenimiento")',
                type: "GET",
                dataType: "json",
            },
            "columns": [
                { "data": "Descripcion" },
                {
                    "data": "Activa", "render": function (valor) {
                        if (valor) {
                            return '<input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>'
                        } else {
                            return '<input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>'
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-sm btn-dark btn-editar" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-sm btn-danger ms-2 btn-eliminar" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            }
        });

    </script>
}

